<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Boing</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <a href="/">Home</a>
  <h1>Boing - Upload</h1>
{% if username %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p>
        <p>Uploaded to {{ file_name }}</p>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File</label>
        <input type="file" id="file" name="file">
        <button type="submit">Upload</button>
    </form>
{% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{% endif %}
</body>
</html>